* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    margin: 0 auto;

}

body {
    background-color: antiquewhite;
}