* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

canvas {
    background-position-y: -60px;
    background-size: cover;
    background-image: url("./assets/Flappy\ Bird/background-day.png");
    display: block;
    margin: 0 auto;
}